/*  above-navbar*/

.above-navbar {
  background-color: #f8f9f9;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 400px;
  font-weight: 600;
}

@media (max-width: 575.98px) {

  .text-in-navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


}


/* <!-- end of above-navbar -->
<!-- ///////////////////////// -->

 */




/* <!-- form above navbar --> */

.form-above-navbar {

  padding: 20px 0;
}

.form-above-navbar img {
  width: 170px;

}

.form-above-navbar .btn-secondary {
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
}

.form-above-navbar .btn-outline {
  background-color: #0063d1;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5%;

}

.form-above-navbar .form-control {

  border: none;
  outline: none;

}


.form-above-navbar form {

  border: 3px solid #ebebeb;

}





.form-above-navbar .btn {

  --bs-btn-border-radius: 0;

}

.form-above-navbar .navbar .container form {
  display: flex;

}


@media (max-width: 992px) {

  .form-above-navbar .navbar .container form {
    display: none;

  }


}

.form-above-navbar .img-hover:hover{

border: 1px solid black;
}

.form-above-navbar .btn-in-form{
  padding: 5px 0;
  color: #000;
  width: 100%;
}

.form-above-navbar .back-btn
{         padding: 5px 0;
    background-color: #ececec;
    border-radius: 5px;

}


.form-above-navbar .back-btn:hover
{       
    background-color: #0063d1;
    transition-duration: 1s;

}

.form-above-navbar .back-btn a:hover{
    color: #fff;
    transition-duration: 1s;

}

 .navbar .container .d-flex .width-img-in-form-navbar{

  width: 25% ;
}



@media (max-width: 992px) {
  .navbar .container .d-flex .width-img-in-form-navbar{

  width: 40% ;
}
}



.ul-width-in-form-above-navbar{

  width: 25% ;
}



@media (max-width: 992px) {
 .ul-width-in-form-above-navbar{

  width: 100% ;
}
}












/* <!-- end ofform above navbar -->
<!-- //////////////////////////////////////////// --> */



/* <!-- end ofform above navbar -->
<!-- //////////////////////////////////////////// --> */


/* <!-- navbar --> */

.navbar-main{
  z-index:  5000; ;
}


.navbar-main  .navbar{

background-color: #0063d1;
}

.navbar-main{

background-color: #0063d1;
}


.navbar-main a{

   color: #fff;
}

.navbar-main .dropdown-menu a{

  color: #000;
}













/* <!-- end of navbar -->
<!-- /////////////////////////////////////////////////// --> */





/* <!-- footer --> */

a {
  text-decoration: none;
}


.footer {

  font-family: "Rubik", sans-serif;
  background-color: #f8f8f8;
  padding: 60px 0;
}

.footer a {

  font-size: 14px;
  color: #242424;
}

.footer a:hover {

  font-size: 14px;
  color: #486ed1;
}


ul {
  list-style-type: none;

}





.footer h3 {

  font-size: 20px;
}

.footer-1-in-home img {

  width: 170px;
  margin-bottom: 25px;
}

/* .footer-1-in-home p{

    fi
} */

.footer-1-in-home span {

  color: #486ed1;

}




.footer-2-in-home {

  gap: 10px;
}

.footer-3-in-home {

  gap: 10px;
}

.footer-4-in-home input {
  border: none;
  outline: none;
  padding: 13px;

}

.footer-4-in-home button {
  border: none;
  outline: none;
  padding: 13px;
  background-color: #0063d1;
  color: #fff;
  font-size: 12px;
}

.footer-4-in-home form {
  border: 1px solid #ebebeb;
  display: flex;
}

.footer-4-in-home input::placeholder {
  font-size: 14px;
  color: #9d7575;
}





.icon-in-footer-4-in-home svg {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  padding: 5px;

}


.icon1-in-footer-4-in-home svg {
  background-color: #3b5998;
}



.icon2-in-footer-4-in-home svg {
  background-color: #00aced;
}


.icon3-in-footer-4-in-home svg {
  background-color: #bc2a8d;
}


.icon4-in-footer-4-in-home svg {
  background-color: #007bb6;
}

.icon5-in-footer-4-in-home svg {
  background-color: #f26522;
}


/* <!-- end of footer -->
<!-- //////////////////////////////////////////////////////////////////////////// --> */


/* under footer */

.left-under-footer img {

  width: 30px;
  height: 30px;
}

.color-in-left-under-footer {

  background-color: #3b6289;

  transform: translateY(-2px);
}

.paypal-in-left-under-footer {

  transform: translateY(-2px);

}







/* end of under footer */
/* ////////////////////////////////////////////////////////////////////////////////////// */







