h1{
    font-size: 200px;
    color: #0063d1;
    font-weight:700;
}

.error p{
    font-weight:400;

}

.error p{
    font-weight:400;

}

.error .form-control{

    width: 50%;
    margin: 0 auto;
}


.error a{

    width: 15%;
    margin: 20px auto;
    background-color: blue;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
    text-decoration-line: none;
    border-radius: 5px;
}
