/*  above-navbar*/

.above-navbar {
  background-color: #f8f9f9;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 400px;
  font-weight: 600;
}

@media (max-width: 575.98px) {

  .text-in-navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


}


/* <!-- end of above-navbar -->
<!-- ///////////////////////// -->

 */




/* <!-- form above navbar --> */

.form-above-navbar {

  padding: 20px 0;
}

.form-above-navbar img {
  width: 170px;

}

.form-above-navbar .btn-secondary {
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
}

.form-above-navbar .btn-outline {
  background-color: #0063d1;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5%;

}

.form-above-navbar .form-control {

  border: none;
  outline: none;

}


.form-above-navbar form {

  border: 3px solid #ebebeb;

}





.form-above-navbar .btn {

  --bs-btn-border-radius: 0;

}

.form-above-navbar .navbar .container form {
  display: flex;

}


@media (max-width: 992px) {

  .form-above-navbar .navbar .container form {
    display: none;

  }


}

.form-above-navbar .img-hover:hover{

border: 1px solid black;
}

.form-above-navbar .btn-in-form{
  padding: 5px 0;
  color: #000;
  width: 100%;
}

.form-above-navbar .back-btn
{         padding: 5px 0;
    background-color: #ececec;
    border-radius: 5px;

}


.form-above-navbar .back-btn:hover
{       
    background-color: #0063d1;
    transition-duration: 1s;

}

.form-above-navbar .back-btn a:hover{
    color: #fff;
    transition-duration: 1s;

}

 .navbar .container .d-flex .width-img-in-form-navbar{

  width: 25% ;
}



@media (max-width: 992px) {
  .navbar .container .d-flex .width-img-in-form-navbar{

  width: 40% ;
}
}



.ul-width-in-form-above-navbar{

  width: 25% ;
}



@media (max-width: 992px) {
 .ul-width-in-form-above-navbar{

  width: 100% ;
}
}












/* <!-- end ofform above navbar -->
<!-- //////////////////////////////////////////// --> */



/* <!-- end ofform above navbar -->
<!-- //////////////////////////////////////////// --> */


/* <!-- navbar --> */

.navbar-main{
  z-index:  3000; ;
}






.navbar-main  .navbar{

background-color: #0063d1;
}

.navbar-main{

background-color: #0063d1;
}


.navbar-main a{

   color: #fff;
}

.navbar-main .dropdown-menu a{

  color: #000;
}













/* <!-- end of navbar -->
<!-- /////////////////////////////////////////////////// --> */










/* <!--  carousel1-in-home--> */

.carousel-in-home {
  padding: 80px 0;
}


.carousel-in-home .carousel-indicators {

  bottom: -15px;
}

.carousel-in-home .carousel-item {
  position: relative;
}

.left-in-carouselonehome {
  position: absolute;
  top: 20%;
  left: 10%;
  animation-name: slide-left-in-carouselonehome;
  animation-duration: 2.5s;

}




@keyframes slide-left-in-carouselonehome {

  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }

}






.carousel1-item-in-home h2 {

  font-size: 60px;
}


.carousel1-item-in-home h3 {

  font-size: 60px;

}

.carousel1-item-in-home p {

  font-size: 18px;

}

.carousel1-item-in-home span {

  font-size: 18px;
  color: #2177d6;
}

.carousel-in-home .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ebebeb;
}

.carousel-in-home .carousel-indicators .active {
  background-color: #0063d1;
}

.carousel-in-home a {

  padding: 10px 20px;
  background-color: #0063d1;
}


@media (max-width: 1399.98px) {

  .carousel1-item-in-home h2 {

    font-size: 20px;
  }


  .carousel1-item-in-home h3 {

    font-size: 20px;

  }

  .left-in-carouselonehome {

    top: 10%;
    left: 5%;
  }


}


@media (max-width: 767px) {


  .carousel1-item-in-home h2,
  .carousel1-item-in-home p {

    display: none;
  }


  .carousel1-item-in-home h3 {

    display: none;
  }


  .left-in-carouselonehome {

    top: 40%;

  }


  .carousel-in-home a {

    padding: 5px 10px;
    background-color: #0063d1;
  }

  .carousel1-item-in-home a {

    font-size: 10px;

  }
}























/* <!-- end of carousel-in-home -->
<!-- ////////////////////////////////////////////////////////////////////// --> */





/* <!-- client-in-home --> */


.clients-in-home h3 {

  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.clients-in-home p {

  font-size: 13px;
  line-height: 18px;

}


.images-3-in-client-in-home img {
  object-fit: fill;

}




.images-3-in-client-in-home img:hover {
  transform: scale(1.07);

}


.images-3-in-client-in-home img:hover {
  transition: transform 1s;

}




@media (max-width: 1399.98px) {

  .images-3-in-client-in-home {
    align-items: stretch;
  }

}











@media (max-width: 767.98px) {

  .images-3-in-client-in-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }



}

























/* <!-- end of client-in-home -->
<!-- /////////////////////////////////////////////////// --> */

/* hot deals product */

.old-price{

    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    margin-right: 5px;
}

.new-price{

    color: #0063d1;
    font-weight: 500;
    font-size: 16px;
}

.hot-deals-product .card{

   border: none;
  position: relative;

}


.hot-deals-product .sale{
   position: absolute;
  background-color: #62ab00;
  color: #fff;
  top: 5%;
  right: 5%;
}

.time-in-hot-deals-product{
  position: absolute;
  font-size: 12px;
  font-weight: 30px;
 background-color: #0063d1;
 color: #fff;
 padding:8px 10px ; 
 bottom: 0px;
 align-items: stretch;
 width: 100%;
}


.icon-in-hot-deals a svg
{  
  background-color: #0063d1;
  top: 0%;
  border-radius: 50%;
  padding: 5px;
  display: none;
}

.icon-in-hot-deals{
   position: absolute;
top: 20%;
left: 4%;
gap: 3px;
}

.hot-deals-product .card:hover{

   border: 2px solid #e6e6e6;
  transition-duration: 1s;
            
 .icon-in-hot-deals a svg
{  
 
  display: block;

}

}

.banner-hot img:hover {
  transform: scale(1.02);

}


.banner-hot img:hover {
  transition: transform 1s;

}


.hot-deals-product .carousel-control-prev {
background-color: #0063d1;
        
    top: 60%;
    width: 4%;
    height: 15%;
   left: 0%;
   border-radius: 50%;
}

.hot-deals-product .carousel-control-next {
    
    background-color: #0063d1;
        
    top: 60%;
    width: 4%;
    height: 15%;
   right: 0%;
   border-radius: 50%;
}

















/* end of hot deals product */
/* /////////////////////////////////////////// */



/* <!-- Tops Categories This Week --> */


.Top-Categories-This-Week img {
  object-fit: contain;
  width: 100%;
  height: 100%;

}

.Toptext-Categories-This-Week {

  width: 15%;
}

.Top1-Categories-This-Week {

  width: 15%;
}

.Tops-Categories-This-Week .card {

  width: 100%;
}

.Toptext-Categories-This-Week {

    font-size: 12px;
  }



.Top1-Categories-This-Week {
  display: flex;
  flex-direction: column;
  align-items: center;
}




@media (max-width: 1400px) {

  .tv-in-Top1-Categories {
    display: none;
  }

  .Top1-Categories-This-Week {

    width: 18%;
  }

  .Toptext-Categories-This-Week {

    width: 20%;
    font-size: 10px;
  }

}


@media (max-width: 992px) {

  .LaptopTop1-Categories {
    display: none;
  }

  .Top1-Categories-This-Week {

    width: 22%;
  }

  .Toptext-Categories-This-Week {

    width: 22%;
  }

}



@media (max-width: 768px) {

  .GamesTop1-Categories {
    display: none;
  }

  .Top1-Categories-This-Week {

    width: 30%;
  }

  .Toptext-Categories-This-Week {

    width: 30%;
  }

}


@media (max-width: 576px) {

  .HomeTop1-Categories {
    display: none;
  }

  .Top1-Categories-This-Week {

    width: 80%;
  }

  .Toptext-Categories-This-Week {

    width: 100%;
  }

}


.Top1-Categories-This-Week a{

  text-decoration-line: none;
  color: black;
  font-weight:500;
}


.Top1-Categories-This-Week a:hover {

  color: #0063d1;
}

.Top1-Categories-This-Week .card:hover {

  border: #0063d1 2px solid ;
}

.Toptext-Categories-This-Week a:hover{
  background-color: #242424;
}




/* <!-- end of Top Categories This Week -->
  <!-- ///////////////////////////////////////////// -->
 */

 /* <!--computer & laptop --> */


.computer-laptop .card{

   border: none;
  position: relative;

}


.computer-laptop .sale{
   position: absolute;
  background-color: #62ab00;
  color: #fff;
  top: 5%;
  right: 5%;
}

.computer-laptop .time-in-hot-deals-product a{
  position: absolute;
  font-size: 12px;
  font-weight: 30px;
 background-color: #0063d1;
 color: #fff;
 padding:8px 0 ; 
 bottom: 0px;
 width: 50%;

}


.computer-laptop .w-75 a{
display: none;
}







.computer-laptop .time-in-hot-deals-product

{

  width: 70%;
  left: 20%;
  right: 20%;
}









.icon-in-hot-deals a svg
{  
  background-color: #0063d1;
  top: 0%;
  border-radius: 50%;
  padding: 5px;
  display: none;
}

.computer-laptop .icon-in-hot-deals{
   position: absolute;
top: 20%;
left: 4%;
gap: 3px;
}

.computer-laptop .card:hover{

   border: 2px solid #e6e6e6;
  transition-duration: 1s;
            
 

}


.computer-laptop .card:hover .icon-in-hot-deals a svg
{  
 
  display: block;

}

.computer-laptop .w-75 a{
display: none;
}


.computer-laptop .card:hover .w-75 a
{  
 
  display: block;

}


.computer-laptop .carousel-control-prev {
  background-color: #0063d1;
        
    top: 100%;
    width: 4%;
    height: 15%;
   left: 0%;
   border-radius: 50%;
}

.computer-laptop .carousel-control-next {
    
    background-color: #0063d1;
    top: 100%;
    width: 4%;
    height: 15%;
    right: 0%;
       border-radius: 50%;

}









/* <!-- end of computer & laptop -->
<!-- //////////////////////////////////////// --> */



/*Brands  */


.Brands .carousel-control-prev {
  background-color: teal;
        padding: 6px;
    top: 42%;

    width: 4%;
    height: 15%;
   left: 0%;
       border-radius: 50%;

}

.Brands .carousel-control-next {
    
    background-color: teal;
            padding: 6px;

    top: 42%;
    width: 4%;
    height: 15%;
    right: 0%;
    border-radius: 50%;
}
















/* <!-- Brands -->
<!-- ///////////////////////////////////////////////////////// --> */




/* <!-- footer --> */

a {
  text-decoration: none;
}


.footer {

  font-family: "Rubik", sans-serif;
  background-color: #f8f8f8;
  padding: 60px 0;
}

.footer a {

  font-size: 14px;
  color: #242424;
}

.footer a:hover {

  font-size: 14px;
  color: #486ed1;
}


ul {
  list-style-type: none;

}





.footer h3 {

  font-size: 20px;
}

.footer-1-in-home img {

  width: 170px;
  margin-bottom: 25px;
}

/* .footer-1-in-home p{

    fi
} */

.footer-1-in-home span {

  color: #486ed1;

}




.footer-2-in-home {

  gap: 10px;
}

.footer-3-in-home {

  gap: 10px;
}

.footer-4-in-home input {
  border: none;
  outline: none;
  padding: 13px;

}

.footer-4-in-home button {
  border: none;
  outline: none;
  padding: 13px;
  background-color: #0063d1;
  color: #fff;
  font-size: 12px;
}

.footer-4-in-home form {
  border: 1px solid #ebebeb;
  display: flex;
}

.footer-4-in-home input::placeholder {
  font-size: 14px;
  color: #9d7575;
}





.icon-in-footer-4-in-home svg {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  padding: 5px;

}


.icon1-in-footer-4-in-home svg {
  background-color: #3b5998;
}



.icon2-in-footer-4-in-home svg {
  background-color: #00aced;
}


.icon3-in-footer-4-in-home svg {
  background-color: #bc2a8d;
}


.icon4-in-footer-4-in-home svg {
  background-color: #007bb6;
}

.icon5-in-footer-4-in-home svg {
  background-color: #f26522;
}


/* <!-- end of footer -->
<!-- //////////////////////////////////////////////////////////////////////////// --> */


/* under footer */

.left-under-footer img {

  width: 30px;
  height: 30px;
}

.color-in-left-under-footer {

  background-color: #3b6289;

  transform: translateY(-2px);
}

.paypal-in-left-under-footer {

  transform: translateY(-2px);

}







/* end of under footer */
/* ////////////////////////////////////////////////////////////////////////////////////// */