body{
    height: 2000px;
}


.our-services{

    background-color: #ececec;
}


.unlimited-ideas img{

    width: 45%;
    object-fit: cover;
}

.unlimited-ideas .btn-outline-dark:hover{

    background-color: #0063d1;
    
}

.unlimited-ideas .position-p{

    left: 50%;
    top: 20%;
    overflow: hidden;
}

.unlimited-ideas{
    overflow-x: hidden;
}

@media (max-width: 992px) { 
 .unlimited-ideas .position-p{
      left: 40%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 20px;
} 
     
 }



 .f4-cards .btn-outline-dark:hover{

    background-color: #0063d1;
    
}


.f4-cards .first-item-card{

 color: #fff;
 font-weight: 700;
    background-color: #0063d1;

}





.Advantages-of-Mobile-ecommerce-theme .btn-outline-dark:hover{

    background-color: #0063d1;
    
}

@media (max-width: 767.98px) { 

.Advantages-of-Mobile-ecommerce-theme .to-make-column{

 flex-direction: column;
 gap: 20px;
 align-items: center;

}




 }





 